{% extends 'base.html' %} {% block content %}
<header style="background:#ffffff; color:#2c3e50;">
    <div class="container" id="maincontent" tabindex="-1">

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Rechercher un médicament" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Recherche</button>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Classes</th>
            <th scope="col">Molécules</th>
            <th scope="col">Médicaments</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>paracétamol</td>

            <td><input type="checkbox" class="custom-control-input" id="customCheck1">
  <label class="custom-control-label" for="customCheck1">Donnée DB</label></td>
          </tr>
          <tr>
            <th scope="row">Antidouleur</th>
            <td></td>

            <td><input type="checkbox" class="custom-control-input" id="customCheck2">
              <label class="custom-control-label" for="customCheck2">Donnée DB</label></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>Ibuprofène</td>

            <td><input type="checkbox" class="custom-control-input" id="customCheck3">
              <label class="custom-control-label" for="customCheck3">Donnée DB</label></td>
          </tr>
        </tbody>
      </table>
    </div>
</header>
{% endblock%}